<!-- © 2017 Chris Wilson. All rights reserved. -->

<div class="col-md-3 nav-spacer">
    <p class="lead">Shop Name</p>

    <ul class="nav navbar-btn">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formulas</a>
            <ul class="dropdown-menu">
                <li>test</li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">RocketMaterials Data</a>
            <ul class="dropdown-menu">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Glue</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Glue_EpoxyFin", "Strength")">Various Epoxy/Fin Material</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tubes</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Tubes_SideLoading", "Strength")">Side Loading</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Tubes_AxialTubeCrush", "Strength")">Axial Tube Crush</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Tubes_Other", "Strength")">Other</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fins</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Fins_3PointBend", "Strength")">3 Point Bend</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Fins_FinCanTest", "Strength")">Fin Can Test</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Fins_Tension", "Strength")">Tension</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Fins_Other", "Strength")">Other</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hardware</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Hardware_Swivels", "Strength")">Swivels</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Hardware_QuickLinks", "Strength")">Quick Links</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Hardware_MotorRetainers", "Strength")">Motor Retainers</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Hardware_Other", "Strength")">Other Rocket Hardware</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recovery</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Recovery_Knots", "Strength")">Knots</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Recovery_ShockCords", "Strength")">Shock Cords</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Recovery_Sewing", "Strength")">Sewing</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Recovery_ShearPins", "Strength")">Shear Pins</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Recovery_Other", "Strength")">Other</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Data_StyreneGlueTest", "Strength")">Styrene Glue Test</a>
                        </li>
                    </ul>
                </li>            
            </ul>
        </li>
    </ul>

    @*<div class="list-group">
        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
    </div>*@
</div>