<!-- © 2017 Chris Wilson. All rights reserved. -->

@model RocketryMath.Models.Variable

@using (Html.BeginCollectionItem("Variable"))
{
    <div class="container-fluid">
        xxx
        <div class="row">
            <div class="col-sm-1">
                <strong>@Model.VariableName</strong>
            </div>
            @if (Model.SolveFor)
            {
                <div class="col-sm-8">
                    @Html.DisplayFor(x => x.VariableDescription)
                    @Html.HiddenFor(x => x.Value)
                </div>
            }
            else
            {
                <div class="col-sm-6">
                    @Html.DisplayFor(x => x.VariableDescription)
                </div>
                <div class="col-sm-2">
                    @Html.TextBoxFor(x => x.Value, null, new {@class = "form-control"})
                </div>
            }
            <div class="col-sm-3">
                @Html.DropDownListFor(x => x.VariableUnit, new SelectList(Model.AvailableUnits), new {@class = "form-control"})
            </div>
        </div>
    </div>
}